<div class="row">
    <div class="col-md-12">

		<%= form_for(@my_concert, html: {class: "form-horizontal"}) do |f| %>
			<div class="form-group">
				<%= f.label :artist, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.text_field :artist, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :venue, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.text_field :venue, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :city, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.text_field :city, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :date, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.datetime_field :date, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :price, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.number_field :price, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :description, :class => "col-sm-2 control-label" %>
			    <div class="col-sm-10">
					<%= f.text_area :description, :class => "form-control" %>
				</div>
			</div>
			 <div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">		
					<%= f.button :class => "btn btn-default" %>
				</div>
			</div>
		<% end %>
	</div>
</div>