<div class="row">
    <div class="col-md-9">
	    <section>
	    	<div class="list-group">
				<h2>Most popular</h2>
	  			<% @my_concerts.each do |concert| %>
			  		<a href=<%= concert_path(concert) %> class="list-group-item">
			    	<h4 class="list-group-item-heading"><%= concert.artist %></h4>
			    	<span class="label label-success">
			    		<%= concert.price %>
			    		<span class="glyphicon glyphicon-euro"></span>	
			    	</span>
			    	<p><%= concert.description %></p>
			    	<p><span class="badge"><%= concert.comments.count %></span> Comments</p>
			  		</a>
	  			<% end %>
			</div>    	
	    </section>
	</div>
</div>