<%= link_to 'Home','/' %>

<h1>Contact info</h1>

<p><strong><%= @contact.name %></strong> at <%= @contact.address %></p>
<p>tlf: <%= @contact.phone %></p>
<p>email: <%= @contact.email %></p>
<% if @contact.status == "favorite" %>
	<p><strong>FAVORITE!!</strong></p>
<% else %>
	<p><%= link_to 'Mark as Favorite', contacts_edit_path(@contact), method: :put %></p>
<% end %>